:root {
    --color-1: #000000;
    --color-2: #ae1332;
    --color-3: #a4cb66;
    --color-4: #f5ce13;
    --color-5: #fff;
    --font-family: 'DM Sans', sans-serif;
}

* {
    text-decoration: none;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.main {
    width: 375px;
    background-color: #AE1332;


    &__title {
        width: 335px;
        color: #fff;
        text-align: center;
        text-shadow: 0 4px 70px #0000001a;
        letter-spacing: -1.12px;
        text-transform: uppercase;
        margin: 0px 20px;
        padding-top: 56px;
        font-family: DM Sans;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: 2;
    }

    &__text__left {
        color: #FFF;
        text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        /* 128.571% */
        letter-spacing: -0.56px;
        width: 279px;
    }

    &__watermelon {
        width: 249px;
        height: 387px;
        flex-shrink: 0;
        border-radius: 500px;
        background: #A4CB66;
    }

    &__basket {
        width: 249px;
        height: 387px;
        flex-shrink: 0;
        border-radius: 500px;
        background: #F5CE13;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    &__buttons_li {
        display: flex;
        width: 125px;
        padding: 12px 32px;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        border-radius: 1000px;
        border: 1px solid #FFF;
        color: #FFF;
        text-align: center;
        text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
        font-family: DM Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        /* 116.667% */
        letter-spacing: -0.48px;
        text-transform: uppercase;
        flex-basis: calc((100% - 20px) / 2);
    }

    &__container-first {
        position: relative;
        padding-top: 108px;
        padding-bottom: 44px;
    }

    &__orange {
        margin: 0px 20px;

    }

    &__orange__shop {

        position: absolute;
        top: 87%;
        left: 39%;
        z-index: 1;
    }

    &__orange__text {

        position: absolute;
        top: 28%;
        left: 18%;
        z-index: 1;
        color: #AE1332;
        text-align: center;
        text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
        font-family: DM Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        /* 100% */
        letter-spacing: -0.8px;
        text-transform: uppercase;
        width: 55px;
        transform: rotate(-14deg);

        &:hover,
        &:focus-within,
        &:focus {
            color: #A4CB66;
            cursor: pointer;
        }
    }


    &__strawberry {
        // margin: 12px 20px
        position: absolute;
        top: 5%;
        left: 74%;
        z-index: 1;


    }

    &__banana {
        position: absolute;
        top: 14%;
        left: 1%;
        z-index: 1;
    }
}

.main {

    &__icono {
        stroke-width: 1px;
        fill: #fff;
        width: 380px;
        height: 535px;
        z-index: 1;
        flex-shrink: 0;
        position: absolute;
        top: 14%;
        left: -1%;
    }

    &__text__left {
        width: 335px;
        color: #fff;
        text-align: center;
        text-shadow: 0 4px 70px #0000001a;
        letter-spacing: -.56px;
        margin: 20px;
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }


    &__watermelon {
        position: relative;
        margin: 0px 60px;
        margin-top: 44px;
        margin-bottom: 44px;
    }

    &__watermelon_title {
        position: absolute;
        z-index: 1;

        top: 10%;
        left: 44%;
        color: #FFF;
        text-align: center;
        text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
        font-family: DM Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        /* 116.667% */
        letter-spacing: -0.48px;
    }

    &__watermelon_img {
        position: absolute;
        top: 20%;
        left: 12%;
        z-index: 1;
    }

    &__watermelon_shadow {
        position: absolute;
        top: 46%;
        left: 0%;
        z-index: 1;
        width: 239px;
        height: 90px;
    }

    &__watermelon_legend {
        position: absolute;
        top: 70%;
        left: 19%;
        z-index: 1;

        width: 163px;
        color: #FFF;
        text-align: center;
        text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
        font-family: DM Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        /* 116.667% */
        letter-spacing: -0.48px;
        text-transform: uppercase;
    }




    &__basket {
        position: relative;
        margin: 0px 60px;
        margin-top: 44px;
    }

    &__basket_title {
        position: absolute;
        z-index: 1;

        top: 10%;
        left: 44%;
        color: #FFF;
        text-align: center;
        text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
        font-family: DM Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        /* 116.667% */
        letter-spacing: -0.48px;
    }

    &__basket_img {
        position: absolute;
        top: 17%;
        left: 25%;
        z-index: 1;
    }

    &__basket__shadow {
        position: absolute;
        top: 49%;
        left: 0%;
        z-index: 1;
        width: 239px;
        height: 90px;
    }

    &__basket_legend {
        position: absolute;
        top: 70%;
        left: 19%;
        z-index: 1;

        width: 163px;
        color: #FFF;
        text-align: center;
        text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
        font-family: DM Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        /* 116.667% */
        letter-spacing: -0.48px;
        text-transform: uppercase;
    }

}

//___________________________________________//
@media screen and (min-width: 768px) {


    .boton_1 {

        top: -12em;
        left: 4%;

    }

    .boton_2 {

        top: -12em;
        left: 22%;

    }

    .boton_4 {

        top: -7em;
        left: 24%;

    }

    .boton_3 {

        top: -7em;
        left: 6%;
    }



    .main {
        background-color: #AE1332;
        width: 768px;
        margin: auto;
        padding: 0%;

        &__title {
            width: 704px;
            text-align: center;
            text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
            font-family: DM Sans;
            font-size: 50px;
            font-style: normal;
            font-weight: 500;
            line-height: 54px;
            /* 108% */
            letter-spacing: -2px;
            text-transform: uppercase;
            padding: 20px;
        }

        &__container-first {
            position: relative;
            padding-top: 108px;
            padding-bottom: 44px;
        }

        &__orange {
            margin: 0px 215px;

        }

        &__orange__shop {

            left: 44%;
        }

        &__orange__text {

            position: absolute;
            top: 28%;
            left: 18%;
            z-index: 1;
            color: #AE1332;
            text-align: center;
            text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
            font-family: DM Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            /* 100% */
            letter-spacing: -0.8px;
            text-transform: uppercase;
            width: 55px;
            transform: rotate(-14deg);

            &:hover,
            &:focus-within,
            &:focus {
                color: #A4CB66;
                cursor: pointer;
            }
        }


        &__strawberry {
            // margin: 12px 20px
            position: absolute;
            top: 5%;
            left: 80%;
            z-index: 1;


        }

        &__banana {
            position: absolute;
            top: 18%;
            left: 4%;
            z-index: 1;
        }

        &__icono {
            left: 25%;
        }

        &__text__left {
            text-align: start;
            color: #FFF;
            text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
            font-family: DM Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            /* 128.571% */
            letter-spacing: -0.56px;
            width: 279px;


        }

        &__basket {
            margin: -569px 383px -13px 460px;
            position: relative;
            padding-bottom: 93px;
        }

        &__buttons {

            position: relative;
            top: 210%;
            left: 56%;


        }


        &__buttons_li {

            position: absolute;
            padding: 10px 20px;

        }

    }
}














//___________________________________________//


@media screen and (min-width: 1280px) {

    .boton_1 {

        top: -17em;
        left: 10%;

    }

    .boton_2 {

        top: -17em;
        left: 22%;

    }

    .boton_4 {
        top: -12em;
        left: 23%;

    }

    .boton_3 {

        top: -12em;
        left: 12%;
    }


    .main {
        background-color: #AE1332;
        width: 1280px;
        margin: auto;
        padding: 0%;

        &__title {
            width: 898px;
            color: #FFF;
            text-align: center;
            text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
            font-family: DM Sans;
            font-size: 64px;
            font-style: normal;
            font-weight: 500;
            line-height: 64px;
            /* 100% */
            letter-spacing: -2.56px;
            text-transform: uppercase;
            margin: 44px 194px;
        }

        &__banana {


            z-index: 1;
            width: 150px;
            height: 140px;
            top: 25%;
            left: 15%;
        }

        &__strawberry {
            z-index: 1;
            width: 150px;
            height: 140px;
            top: 7%;
            left: 74%;
        }

        &__icono {
            left: 37%;
            top: 8em;
        }

        &__orange {
            margin: 33px 495px;

        }

        &__orange__shop {

            top: 84%;
            left: 48%;
            z-index: 1;
        }

        &__text__left {

            width: 222px;
            color: #FFF;
            text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
            font-family: DM Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            /* 128.571% */
            letter-spacing: -0.56px;
            margin-top: -810px;
            padding-top: 65px;
            margin-right: 80px;
        }

        &__basket {
            width: 249px;
            height: 387px;
            flex-shrink: 0;
            border-radius: 500px;
            background: #F5CE13;
            margin-left: 939px;
            margin-top: -645px;
        }

        &__container-first {


            margin-bottom: 446px;
        }

        &__buttons_li {

            position: absolute;
            padding: 10px 20px;

        }


    }




}