.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    opacity: 1;
    visibility: visible;

    .modal-sec {
      width: 335px;
      height: 100%;
    }
    .form-first__close {

      height: 35px;
      background-color: white;
      border-color: white;
      width: 40px;
      border-bottom: 0px;
      border-right: 0px;            
      padding-top: 6px;
      margin-left: auto;
      margin-right: 8px;
      margin-top: 8px;
      cursor: pointer;
      
      
  
    }
    .modal{
        background-color: white;
      top: 50%;
      left: 50%;
      
  
      border-radius: 4px;
      
      box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      position: absolute;
      
      transform: translate(-50%, -50%);
     
      .form-first {
        &__title {
          color: #AE1332;
text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
font-family: DM Sans;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 100% */
letter-spacing: -1.12px;
text-transform: uppercase;
margin-left: 20px;
justify-content: left;
display: flex;
          }
          &__title-close {
            display: flex;
          }
      }
      .form-modal{
        margin-left: 40px;
        margin-right: 40px;
        &__label-modal {
          display: flex;
          flex-direction: column;
          margin-bottom: 8px;
        text-align: left;
        }
        &__label-modal-check {
          flex-direction: column;
          margin-bottom: 8px;
        text-align: left;
        color: #757575;
        cursor: pointer;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
        letter-spacing: 0.42px;
        }
      }
  
        


      
        .input-group {
          &:hover{
            fill: black;
            color: black;
          }
          &__input-label {
            padding: 8px;
            border-radius: 4px;
          border: 1px solid rgba(33, 33, 33, 0.20);
          
         
          flex-shrink: 0;
          padding-left: 42px;
          width: 295px;
height: 46px;
flex-shrink: 0;
border-radius: 100px;
border: 1px solid #000;
opacity: 0.3;
          cursor: pointer;
          &:hover{
            border-color: black;
          }
          }
          &__coments{

            width: 295px;
height: 132px;
flex-shrink: 0;
border-radius: 20px;
border: 1px solid #000;
opacity: 0.3;
          
          cursor: pointer;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.12px;
          padding-top: 12px;
              padding-bottom: 12px;
              padding-right: 16px;
              padding-left: 16px;
              &:hover{
                border-color: black;
              }
          }
       
            
            }
        
        }
        
        
        
        
       






        

        .button-modal {
          display: inline-flex;
          padding: 12px 24px;
          align-items: center;
          gap: 15px;
border-radius: 100px;
background: #9DC162;
          margin-top: 10px;
          margin-bottom: 20px;
          border: none;
          
          
          
         
          cursor: pointer;
          
          color: #FFF;
          font-family: DM Sans;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px; /* 128.571% */
          letter-spacing: -0.56px;
          text-transform: capitalize;
        &:hover,
        &:focus {
          background-color: #1976d2;
          
        }
        }

        .contain-button {
          display: flex;
        }
        .comentarios {
          margin-bottom: 20px;
          flex-shrink: 0;
          }
          .checkbox-form{
            text-align: left;
            padding-left: 40px;
            align-items: normal;
          }
      }
    
   
     
    



    .is-hidden{
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
  
    
    .form-fruit{
      
      padding: 0%;
      list-style-type: none;
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: space-between;
      padding-top: 0;
      gap: 24px;
    &__item {
        border-radius: 20px;
    background: #F8766B;
    width: 50%;
    height: 308px;
    flex-shrink: 0;
        padding: 0%;
        &:hover{
          border: 1px solid #EEE;
         
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        }
      }

      &__item {
        margin-left: 20px;
        width: 85%;
height: 119px;
flex-shrink: 0;
      }
    
    &__figure {
      width: auto;
      position: relative;
      overflow: hidden;
      display: flex;
    }
      &__image{
        
        width: 88px;
height: 95px;
flex-shrink: 0;



      }

      
    }
    .girl {
      display: none;
    }

    .squaredThree {
      width: 20px;
      position: relative;
      margin: 20px auto;
      margin-top: 15px;
    left: 20px;
    }
    .squaredThree label {
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      background: #F8766B;
      border-radius: 4px;
      -webkit-box-shadow: inset 1px 1px 1px  rgb(255, 255, 255), 1px 1px 1px rgb(255, 255, 255);
              box-shadow: inset 1px 1px 1px rgb(255, 255, 255), 1px 1px 1px rgb(255, 255, 255);
              border-color: #EEE;
    }
    .squaredThree label:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 6px;
      left: 6px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
    
    .squaredThree input[type=checkbox] {
      visibility: hidden;
    }
    .squaredThree input[type=checkbox]:checked + label:after {
      opacity: 1;
    }
    
  
  
  
    
    .squaredThree2 {
      margin-top: 14px;
      width: 20px;
      position: relative;
      margin: 20px auto;
      left: 40px;
      margin-top: 15px;
    }
    .squaredThree2 label {
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      background: #EDD251;
      border-radius: 4px;
      -webkit-box-shadow: inset 1px 1px 1px  rgb(255, 255, 255), 1px 1px 1px rgb(255, 255, 255);
              box-shadow: inset 1px 1px 1px rgb(255, 255, 255), 1px 1px 1px rgb(255, 255, 255);
              border-color: #EEE;
    }
    .squaredThree2 label:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 6px;
      left: 6px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
    
    .squaredThree2 input[type=checkbox] {
      visibility: hidden;
    }
    .squaredThree2 input[type=checkbox]:checked + label:after {
      opacity: 1;
    }
  
    
  
  
    
    
    .squaredThree3 {
      width: 20px;
      position: relative;
      margin: 20px auto;
      left: 40px;
      margin-top: 15px;
    }
    .squaredThree3 label {
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      background: #9DC262;
      border-radius: 4px;
      -webkit-box-shadow: inset 1px 1px 1px  rgb(255, 255, 255), 1px 1px 1px rgb(255, 255, 255);
              box-shadow: inset 1px 1px 1px rgb(255, 255, 255), 1px 1px 1px rgb(255, 255, 255);
              border-color: #EEE;
    }
    .squaredThree3 label:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 6px;
      left: 6px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
    
    .squaredThree3 input[type=checkbox] {
      visibility: hidden;
    }
    .squaredThree3 input[type=checkbox]:checked + label:after {
      opacity: 1;
    }

    .container-title-img {
      display: flex;
    }
    .form-fruit__title {
      color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.72px;
    }
    .form-fruit__parrapraph {
      color: #FFF;
      font-family: DM Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 128.571% */
      letter-spacing: -0.28px;



    }
    .modal2 {

      width: 335px;
      
          top: 50%;
          left: 50%;
          
          border-radius: 20px;
          background: #E03F5E;
          
          
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          position: absolute;
          
          transform: translate(-50%, -50%);
    
&__title {
  color: #FFF;
text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
font-family: DM Sans;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 100% */
letter-spacing: -1.12px;
text-transform: uppercase;
}

&__parragraph {
  margin-left: 20px;
  width: 295px;
  color: #FFF;
text-align: center;
text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.56px;
}
.form-first__close2 {
display: flex;
  height: 35px;
  background-color: #E03F5E;
  border-color: #E03F5E;
  width: 40px;
  border-bottom: 0px;
  border-right: 0px;            
  padding-top: 6px;
  margin-left: auto;
  margin-right: 8px;
  margin-top: 8px;
  cursor: pointer;

}

    }
    
    @media screen and (min-width: 768px) {

.modal-sec {
  width: 704px;
  height: auto;
}

      .modal {
          
        width: 704px;
        
          margin: auto;
          padding: 0%;
          position: relative;
           //este es para quitar
  
           &__close {
            width: 28px;
height: 28px;
flex-shrink: 0;
           }

      }
      .form-fruit {
        flex-wrap: nowrap;
        gap: 12px;
        justify-content: initial;
        &__item {
          width: 200px;
height: 250px;
margin-bottom: 50px;

        }
        &__image {
          width: 133px;
height: 148px;
flex-shrink: 0;
        }
      }
      .girl {
        display: flex;

        


flex-shrink: 0;

  position: absolute;
  clip: rect(0, 300px, 500px, 0);
  
      }
      .form-modal__label-modal {
        width: 50%;
      }
      .form-modal__labels {
        display: inline;
      }
      .form-modal__labels-img {
        display: flex;
      }
      .img-girl {
        width: 469px;
height: 456px;
position: relative;
left: 69px;
margin-left: 70px;
  position:static;
      }


      .form-first {
        &__title {
text-transform: uppercase;
margin-left: 20px;
font-size: 40px;
line-height: 44px; /* 110% */
letter-spacing: -1.6px;
text-transform: uppercase;



          }
          &__title-close {
            display: flex;
          }
      }

      .container-title-img {
        display: block;
      }

.squaredThree {
  margin-top: 14px;
  left: 10px;
}
.squaredThree2 {
  margin-top: 14px;
  left: 10px;
}
.squaredThree3 {
  margin-top: 14px;
  left: 10px;
}
.form-fruit__title-parapraph {
  margin-top: 30px;
}

.button-modal {
  display: flex;
  padding: 15px 35px;
  align-items: center;
  gap: 15px;
}

.modal2 {
  width: 600px;
height: 545px;

&__title {
  
font-size: 40px;
margin-top: 26px;
font-weight: 500;
line-height: 44px; /* 110% */
letter-spacing: -1.6px;
margin-bottom: 14px;
}

&__parragraph {
  margin-left: 150px;
}
&__contain-img {
  margin-top: 26px;
}
&__img {
  width: 278px;
height: 239px;
flex-shrink: 0;
}

}

    }

    @media screen and (min-width: 1280px) {

      .modal-sec {
        width: 891px;
        height: auto;
      }
      .modal {
          
        width: 891px;
        
          margin: auto;
          padding: 0%;
          position: relative;
           //este es para quitar
  
      }

      .form-fruit {

        

&__item {
  width: 257px;
  height: 308px;
}
&__image {
  width: 173px;
height: 196px;

}
&__title {
 
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 116.667% */
letter-spacing: -0.96px;
}
      }
      .girl {
        display: flex;

        max-width: 100%;

        
flex-shrink: 0;

  clip: rect(0, 500px, 500px, 0);
      }
      
      .input-group__input-label  {
        width: 360px;
        height: 48px;
        flex-shrink: 0;
      }
      
      .squaredThree {
        margin-right: 15px;
        left: 5px;
      }
      .squaredThree2 {
        margin-right: 15px;
        left: 5px;
      }
      .squaredThree3 {
        margin-right: 15px;
        left: 5px;
      }
      


    }