<div class="container m-0 p-0">
  <section class="delivery">
    <h2 class="delivery__title">
      To order your fruit basket, simply follow these easy steps
    </h2>

    <p class="delivery__description">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home. Whether you're looking for a healthy snack or a thoughtful
      gift, our fruit baskets are the perfect choice.
    </p>

    <ul class="delivery__list">
      <li class="delivery__item">
        <div>
          <button class="delivery__item-buttom purple">First Step</button>
        </div>

        <p class="delivery__item-paragraph">
          Just choose the fruit you want to order by clicking on the checkboxes
          next to it.
        </p>
      </li>

      <li class="delivery__item">
        <div>
          <button class="delivery__item-buttom green">Second Step</button>
        </div>

        <p class="delivery__item-paragraph">
          Click on the basket and fill out the form.
        </p>
      </li>

      <li class="delivery__item">
        <div>
          <button class="delivery__item-buttom yellow">Third Step</button>
        </div>

        <p class="delivery__item-paragraph">
          Sit back and relax! Your fresh fruit basket will be delivered.
        </p>
      </li>
    </ul>
  </section>
</div>
