<footer class="footer">
  <div class="container">
    <div class="footer__section">
    <div class="container--tablet">
    <ul class="footer__list list">
      <li class="footer__item box">
        <div class="footer__img"></div>
      </li>
      <li class="footer__item">    
        <a class="footer__link" href="./index.html" rel="noopener noreferrer" target="_self">
          <svg class="footer__icon" width="17" height="16">
            <use href="./images/iconos.svg#icon-logo"></use>
          </svg>FRESH HARVEST BOX</a></li>
    </ul>
    <div class="footer__item footer__menu">
      <ul class="menu__list list ">
        <li class="menu__item">
        <a class="menu__link" tabindex="0">How It Works</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" tabindex="0">Fruits</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" tabindex="0">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
    <div class= "footer__subscribe ">
      <div class= "footer__follow ">
        <ul class="follow__list list ">
          <li class="follow__item">
          <a class="follow__link" tabindex="0">
          <svg wigth="22px" height="22px">
            <use href="./images/iconos.svg#icon-facebook"></use>
          </svg>
          </a>
          </li>
          <li class="follow__item">
            <a class="follow__link" tabindex="0">
            <svg wigth="22px" height="22px">
              <use href="./images/iconos.svg#icon-instagram"></use>
            </svg>
            </a>
          </li>
          <li class="follow__item">
            <a class="follow__link" tabindex="0">
            <svg wigth="20px" height="20px">
              <use href="./images/iconos.svg#icon-youtube"></use>
            </svg>
            </a>
          </li>
        </ul>
      </div>
      <address class="address">
        <ul class="address__list list ">
          <li class="address__item"><a class="address__link address__link--contact" href="tel:+380684439426">+380 (68) 443-94-26</a></li>
          <li class="address__item"><a class="address__link" href="https://maps.app.goo.gl/rqvJXwTzdERLiLT57" rel="noopener noreferrer" target="_blank">1678 S. Pioneer Road<br>Salt Lake City<br>UT 84104</a></li>
        </ul>
        </address>
      </form>
    </div>
  </div>
</footer>

