<header class="header__section">
  <div class="container__header">
    <div class="header__bottom">
      <ul class="header__menu">
        <li><a href="" class="link">How It Works</a></li>
        <li><a href="" class="link">Fruits</a></li>
        <li><a href="" class="link">Contacts</a></li>
        <li>
          <a href="" class="link logo">
            <svg class="header__link-icon" width="28" height="28">
              <use href="/src/images/icons/header.svg#icon-cart"></use></svg
          ></a>
        </li>
      </ul>
      <div class="header__resposive">
        <ul class="header__logo">
          <li>
            <a href="" class="link">
              <svg class="link" width="16" height="16">
                <use href="/src/images/icons/header.svg#icon-logo"></use></svg
            ></a>
          </li>
          <li><a href="" class="link-fresh">fresh harvest box</a></li>
        </ul>
        <button
          class="menu-toggle js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg width="24" height="24">
            <use href="/src/images/icons/menu.svg#icon-mobil"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>

<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu" id="menu-close-button">
    <svg width="24" height="24">
      <use href="/src/images/icons/menu.svg#icon-close"></use>
    </svg>
  </button>

  <ul class="mobile-menu">
    <li><a href="" class="link">How It Works</a></li>
    <li><a href="" class="link">Fruits</a></li>
    <li><a href="" class="link">Contacts</a></li>
    <li>
      <a href="" class="link">
        <svg class="link-icon" width="28" height="28">
          <use href="/src/images/icons/menu.svg#icon-uil"></use></svg
      ></a>
    </li>
  </ul>
</div>
