<section id="main" class="main">
  <div class="main__container-first">
    <h2 class="main__title">
      fresh harvest box is your one-stop place for a delicious fruit basket
    </h2>

    <img
      class="main__banana"
      src="./images/main__banana.png"
      width="80px"
      height="80px"
    />
    <img
      class="main__strawberry"
      src="./images/main__strawberry.png"
      width="80px"
      height="80px"
    />

    <div class="main__orange">
      <img
        class="main__orange__img"
        src="./images/main__orange.png"
        width="333px"
        height="507px"
      />
      <svg class="main__icono" width="20px" height="20px">
        <use href="./images/svg/symbol-defs.svg#icon-Vector"></use>
      </svg>
      <div class="main__orange__shop">
        <svg
          src="./images/main__shop_ellipse.svg"
          width="80px"
          height="80px"
          viewBox="0 0 114 114"
          fill="none"
        >
          <circle cx="57" cy="57" r="57" fill="white" />
        </svg>
        <div class="main__orange__text">shop now</div>
      </div>
    </div>
  </div>

  <div class="main__text__left">
    <h4>
      Our expertly curated fruit baskets are made with the freshest, highest
      quality fruits available. Whether you are looking for a healthy snack or a
      gift for a loved one, Fresh Harvest Box has got you covered.
    </h4>
  </div>

  <div class="main__watermelon">
    <h5 class="main__watermelon_title">Fruit</h5>
    <img
      class="main__watermelon_img"
      src="./images/main__watermelon.png"
      width="200px"
      height="172px"
    />
    <img
      class="main__watermelon_shadow"
      src="./images/main__watermelon__shadow.png"
      s
      width="239px"
      height="38px"
    />
    <h4 class="main__watermelon_legend">
      Refreshing and juicy, watermelon is the perfect summer treat and a great
      source of hydration
    </h4>
  </div>

  <section>
    <ul class="main__buttons">
      <li class="main__buttons_li boton_1">#organics</li>
      <li class="main__buttons_li boton_2">#products</li>
      <li class="main__buttons_li boton_3">#basket</li>
      <li class="main__buttons_li boton_4">#fruits</li>
    </ul>
  </section>

  <div class="main__basket">
    <h5 class="main__basket_title">Fruit</h5>
    <img
      class="main__basket_img"
      src="./images/main__basket.png"
      width="162px"
      height="185px"
    />
    <img
      class="main__basket__shadow"
      src="./images/main__basket__shadow.png"
      width="239px"
      height="38px"
    />
    <h4 class="main__basket_legend">
      Sweet and juicy, strawberries are packed with vitamin C and antioxidants,
      making them a delicious and healthy snack
    </h4>
  </div>
</section>
