<section class="subscribe">
  <div class="container_subscribe">
    <section class="subscribe__blocks">
      <div class="subscribe__images">
        <div class="subscribe__image1"></div>
        <div class="subscribe__image2"></div>
      </div>
      <div class="subscribe__title">Fresh Harvest Box has got you covered</div>
    </section>
    <div class="subscribe__block">
      <div class="subscribe__text">
        <p class="subscribe__textOur">
          Our boxes are packed with delicious, nutritious fruits and vegetables,
          perfect for anyone looking to eat healthier or support local farmers.
          Order your box today and start enjoying the best that nature has to
          offer!
        </p>
      </div>
    </div>
    <div class="container--input">
      <div class="subscribe__input">
        <div class="subscribe__button_send">
          <div class="subscribe__send">send</div>
        </div>
        <div class="subscribe__rectangle-email">
          <div class="subscribe__enter-email">Enter email...</div>
        </div>
      </div>
    </div>
  </div>
</section>
